body {
  font-family: Arial, sans-serif;
  padding: 40px;
  text-align: center;
  background-color: beige;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

textarea {
    resize: vertical;
    min-height: 60px;
}

input, select, textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  box-sizing: border-box; 
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
select:valid,
textarea:valid {
  border-color: green
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  background-color: white;
}

input:focus, textarea:focus {
  border-color: orangered;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.5);
}

input:first-of-type {
  background-color: rgb(247, 247, 208);
}

.radio-group {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.radio-group input[type="radio"]:checked {
  border-color: orangered;
  background-color: orangered;
  box-shadow: 0 0 5px 1px orangered;
}

input[type="radio"]:checked + label {
  color: orangered;
}


button {
  width: 100%;
  background-color: orangered;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
  font-size: 1rem;
}
